// Fonts
$montserrat: "Montserrat", sans-serif;
$garamond: "Cormorant Garamond", sans-serif;

// Colors
$harvestGold: #e0b973;
$brandy: #dac090;
$coffee: #a08044;
$white: #ffffff;
$cottonSeed: #bdbdbd;
$black: #000000;
$blueZodiac: #14274a;